<mat-toolbar class="header-menu">
    <button class="headerBtns" title="Services" (click)="openServicesModal()">
        SERVICES
    </button>
    <button class="headerBtns" title="About Us" (click)="openAboutUsModal()">
        ABOUT US
    </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" mode="side" [(opened)]="opened" class="mat-elevation-z8">

        <button mat-button class="menu-button" [routerLink]="['home']">
            <mat-icon>home</mat-icon>
            <span style="padding-left: 5px;">Dashboard</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['listAppointmentMedicine']">
            <mat-icon>person</mat-icon>
            <span style="padding-left: 5px;">Appointment Medicine</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['listTreatmentMedicine']">
            <mat-icon>tablet</mat-icon>
            <span style="padding-left: 5px;">Treatment Medicine</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['listAppointment']">
            <mat-icon>timelapse</mat-icon>
            <span style="padding-left: 5px;">Appointment</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content style="margin-left: 210px;">

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>