<div mat-dialog-title class="flex-container">
    <button mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="row" style="justify-content: center;">
    <img src="/assets/images/hms_logo.svg" class="about-title">
        <h2>About Us &mdash; Our Vision</h2>
</div>
<div class="row">
    <div class="col span-1-of-2 step-box">
        <div class="works-step">
            <mat-icon>person</mat-icon>
            <p>Hopital Management System (HMS) is open to all patients every day and provides fundamental medical care
                and cutting-edge medicine.</p>
        </div>
        <div class="works-step">
            <mat-icon>tablet</mat-icon>
            <p>We use our academic knowledge to treat a wide range of health issues, taking a personal touch and
                utilizing highly specialized and up-to-date research.</p>
        </div>
        <div class="works-step">
            <mat-icon>timelapse</mat-icon>
            <p>
                We will innovate and define the future of health care for generations
                and will be the consumer's first choice for health care.
            </p>
        </div>
    </div>