

.services-tab{
    float: right;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.banner{
    text-align: center;
    font-size: 32px;
}
.long-copy{
    text-align: center;
    font-size: 20px;
    margin-top: 32px !important
}

.header{
font-size: 18px !important;
font: revert;
margin-left: 74px;
}
.text{
    margin: 0 40px 12px !important;
    font-size: 18px !important;
}