@import '../../../assets/styles/variable.scss';
@import '../../../assets/styles/mixin.scss';

.header {
    // position:  fixed;
    //height: 100px;
    z-index: 2;
    .inner {
        background: rgb(255,194,10,1);
        background: linear-gradient(90deg, rgba(0,90,181,1) 60%, rgba(153,79,10,1) 80%);
        height: 80px;
    }
    .logo {
        @include bgImage($image-path, 'hms_logo.svg', $height: 60px, $position: left);
        .tks {
            position: absolute;
            left: 98px;
            top: 6px;
            color: white;
            font-size: 20px;
            font-weight: 550;
            // padding-top: 10px;
        }
        .hms-text {
            color: white;
            font-size: 17px;
            font-weight: 600;
            position: absolute;
            left: 99px;
            top: 35px;
            line-height: 1;
        }
    }
    .welcome-btn {
        &:focus {
          outline: 0;
          box-shadow: none;
        }
        i.fa-sort-down {
          vertical-align: text-top;
        }
    }
    .userName{
        color: $txt-white;
        .welcome-btn {
            min-width: auto;
            max-width: 550px;
            width: auto;
            color: $txt-white;
            .version {
                font-size: 14px;
                margin-top: 5px;
            }
        }
        .dropdown-toggle::after {
            display: inline-block;
            margin-left: 0;
            vertical-align: middle;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
            position: absolute;
            top: 12px;
            right: 5px;
        }
        .header-main-box.links-pack {
            ul {
                position: absolute;
                right: 0;
                top: 44px;
                width: 150px;
                padding: 10px 5px;
                list-style: none;
                background: $menu-selected-bg;
                @include border-radius(2px);
                z-index: 2;
                li {
                    padding: 3px;
                    a {
                        color: black;
                    }
                }
            }
        }
    }
}

.custom-navbar {
    background-color: $menu-bg;
    ul.navbar-nav {
        li {
            position: relative;
            border-right: 1px solid $menu-border-right;
            a.main-link {
                min-width: 135px;
                text-align: center;
                display: inline-block;
                padding: 8px 0;
                text-transform: uppercase;
                &.dropdown-toggle {
                    &:after {
                        margin-left: 5px;
                    }
                }
            }
            &.highlighted {
                background: $menu-hover-bg;
                font-weight: $font-weight-semi-bold;
            }
            &:hover,
            &:focus,
            &:active {
                background: $menu-hover-bg;
            }
            &.show {
                background-color: transparent;
            }
            ul.dropdown-menu {
                position: absolute;
                background-color: $menu-selected-bg;
                border-radius: 0;
                border: 0;
                margin: 0;
                min-width: 137px;
                padding: 10px;
                font-size: 14px;
                li {
                    border-right: none;
                    padding: 8px 10px;
                    border-bottom: 1px solid $menu-border-bottom;
                    white-space: break-spaces;
                    transition: .5s;
                    color: black;
                    &:hover,
                    &:focus,
                    &:active {
                        font-weight: $font-weight-semi-bold;
                    }
                    a {
                        display: block;
                        width: 100%;
                    }
                }
                @media(min-width: 991px) and (max-width: 1150px){
                    min-width: 152px;
                }
                @media(min-width: 1151px) {
                    min-width: 182px;
                }
            }
        }
        @media(min-width: 991px) and (max-width: 1150px){
            li {
                a.main-link {
                    min-width: 150px;
                }
            }
        }
        @media(min-width: 1151px) {
            li {
                a.main-link {
                    min-width: 180px;
                }
            }
        }
    }
}

.header-page {
    &.blur-app {
      height: 130vh;
    }
    &.k-i-loading {
      font-size: 40px;
      color: #005596;
      &:before {
        margin-top: 28rem; 
        z-index: 9;
      }
      &:after {
        margin-top: 28.4rem;
        margin-left: -14px;
        z-index: 9;
      }
    }
  }


  .k-i-loading::after, 
.k-loading-image::after{
    margin-left: 14px;
    width: 14px;
    height: 14px;
}
span.font-weight-bold.logout-btn {
    background: #fff;
    color: #006CD1;
    padding: 3px 10px;
    margin-left: 5px;
    font-weight: normal;
    font-size: 12px;
    border-radius: 2px !important;
}
.btn.welcome-btn.text-right:hover {
    cursor: text;
}
span.font-weight-bold.logout-btn:hover {
    cursor: pointer;
}

.w-100{
    width:100%
}

.userName{
    color: $txt-white;
    .welcome-btn {
        min-width: 277px;
        max-width: 550px;
        width: auto;
        color: $txt-white;
        .version {
            font-size: 14px;
        }
    }
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0;
        vertical-align: middle;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
        position: absolute;
        top: 12px;
        right: 5px;
    }
    .header-main-box.links-pack {
        ul {
            position: absolute;
            right: 0;
            top: 44px;
            width: 150px;
            padding: 10px 5px;
            list-style: none;
            background: $menu-selected-bg;
            @include border-radius(2px);
            z-index: 2;
            li {
                padding: 3px;
                a {
                    color: black;
                }
            }
        }
    }
}
.user-wlcme-name{
    font-weight: 500;
}