<header class="header w-100 header-bg">
  <div class="row mx-0 p-0 inner" style="padding-top: 10px;">
    <div class="col my-2 ml-4 logo position-relative">
      <p class="tks">UNT</p>
      <p class="hms-text">Hospital Managment System</p>
    </div>
    <!-- <a [routerLink]="['admin/dashboard']">
      <div class="col my-2 ml-4 logo position-relative"></div>
    </a> -->
    <!-- <div class="col my-2 ml-4 position-relative">
      <p class="tks">UNT</p>
      <p class="hms-text">Hospital Managment System</p>
    </div> -->
    <div class="d-flex col userName justify-content-end p-2 mr-3">
      <div type="button" class="btn welcome-btn text-right" *ngIf="showUserDetails">
        <span class="d-block border-bottom user-wlcme-name pl-1">Welcome: {{userName}} ({{userRole}})
        </span>
        <span class="version">
          <span class="font-weight-bold logout-btn" (click)="appLogoutConfirm()">Logout</span>
        </span>
      </div>
    </div>
  </div>

</header>