a.red-tooltip{
    background-color: red;
}

table {
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    th{
        background-color: #E1BE6A;
        font-weight: bold;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-size: 0.9rem;
    }
    td{
        border-bottom: 1px solid black;
        font-size: 0.87rem;
    }
  } 

.btn-home{
    width: 100px;
    float: right;
    margin-top: 20px;
    color: darkblue;
    height: 35px;
    border: 2px solid #005596;
    border-radius: 5px;
}

.btn-delete{
    width: 100px;
    float: right;
    margin-top: 20px;
    color: darkblue;
    height: 35px;
    border: 2px solid #005596;
    border-radius: 5px;
}

.w-40{
    width:40% !important;
}

.w-30{
    width:30% !important;
}

.w-20{
    width:20% !important;
}

.center-table{
    width:80% ;margin-left:auto;margin-right:auto;
}

.center-tuple{
    width:50% ;margin-left:auto;margin-right:auto;
}

.action-hover:hover {
    cursor: pointer;
}