<div>


    <h3 class="mt-3 ml-2">List of Appointment</h3>


    <div class="row mt-2 mr-1" >
        <div class="col-12" style="text-align:right">
            <button class="btn-regular" title="Add Appointment" (click)="navigateToAppointment()">
                Add Appointment
            </button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 center-table">


                <!-- Doctor Id Column -->
                <ng-container matColumnDef="doctorId">
                    <th mat-header-cell *matHeaderCellDef> Doctor_Id</th>
                    <td mat-cell *matCellDef="let element"> {{element.doctorId}} </td>
                </ng-container>

                <!-- Doctor Name Column -->
                <ng-container matColumnDef="doctorName">
                    <th mat-header-cell *matHeaderCellDef> Doctor_Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
                </ng-container>

                <!-- Patient Id Column -->
                <ng-container matColumnDef="patientId">
                    <th mat-header-cell *matHeaderCellDef> Patient_Id</th>
                    <td mat-cell *matCellDef="let element"> {{element.patientId}} </td>
                </ng-container>

                <!-- Patient Name Column -->
                <ng-container matColumnDef="patientName">
                    <th mat-header-cell *matHeaderCellDef> Patient_Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
                </ng-container>

                <!-- Hospital Name Column -->
                <ng-container matColumnDef="hospitalName">
                    <th mat-header-cell *matHeaderCellDef> Hospital_Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.hospitalName}} </td>
                </ng-container>

                <!-- Fee Column -->
                <ng-container matColumnDef="fee">
                    <th class="w-7" mat-header-cell *matHeaderCellDef>Fee</th>
                    <td mat-cell *matCellDef="let element"> {{element.fee}}$ </td>
                </ng-container>

                <!-- Appointment Date Column -->
                <ng-container matColumnDef="appt_Date">
                    <th mat-header-cell *matHeaderCellDef> Appointment Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.appt_Date| date:'MM/dd/yyyy'}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th  mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element" class="action-link action-hover">
                        <a>
                            <mat-icon style="color:#005AB5" title="Edit Appointment" (click)="editAppointment(element)">
                                edit
                            </mat-icon>
                        </a> |
                        <a>
                            <mat-icon style="color:#994F00" title="Delete Appointment"
                                (click)="deleteAppointment(element)">
                                delete</mat-icon>
                        </a>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="appointmentColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: appointmentColumns;"></tr>
            </table>
        </div>
    </div>

    <div *ngIf="dataSource.length==0" class="no-records mt-5">No Records Found</div>

</div>


<section class="spinner-style">
    <mat-spinner id="matSpinner" [diameter]="50" *ngIf="isDataLoading"></mat-spinner>
</section>