<div class="register-wrapper mb-4 mt-4" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <form class="register-form" [formGroup]="fgRegister">
            <mat-card-content>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Username" formControlName="userName" required appLimitTo=13
                    appSpecialCharacters>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Email" formControlName="email" required appLimitTo=20
                        appSpecialCharacters>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput formControlName="firstName" placeholder="First Name" required appLimitTo=10
                        appOnlyAlphabets>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput formControlName="lastName" placeholder="Last Name" required appLimitTo=13
                        appOnlyAlphabets>
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <mat-label>User Role</mat-label>
                    <mat-select formControlName="userRole" required>
                        <mat-option [value]="roles.value" *ngFor="let roles of userRolesData">{{roles.key}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Phone No" formControlName="phoneNumber" appLimitTo=10 appOnlyNumeric>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Password" formControlName="password" required type="password">
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Confirm Password" formControlName="confirmPassword" required
                        type="password">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="primary" class="btn-block" (click)="registerUser()">Create
                Account</button>
            <p class="message"><span class="already-rgtr">Already have an Account?</span>
                <a class="txt-line head-title" href="#" routerLink="/authentication/login">Log In</a>
            </p>
        </form>
    </mat-card>
</div>
<section class="spinner-style">
    <mat-spinner id="matSpinner" [diameter]="50" *ngIf="isDataLoading"></mat-spinner>
</section>