.already-rgtr {
    color:#000;
    font-size:.90em;
    padding-right:5px;
  }
  
  .register-form .message {
    margin: 15px 0 0;
    color: var(--btn-grey);
       font-size: var(--small-font-size);
  }
  
  .register-form .message a {
    color: var(--txt-blue);
  }
  
  .register-form .message {
    margin: 15px 0 0;
    color: var(--btn-grey);
  }