<div style="height: 150%; overflow: hidden;">
    <div class="row mt-4 mr-1" >
        <div class="col-12" style="text-align:right">
            <button class="btn-regular" title="View Hospital-branches" (click)="navigateToListHospitalBranchScreen()">
                View Hospital-branches
            </button>
        </div>
    </div>
    
    <div class="register-wrapper mb-4 mt-4" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Edit Hospital Branch</mat-card-title>
        </mat-card-header>
        <form class="register-form" [formGroup]="fgEditHospitalBranch">
            <mat-card-content>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Name" formControlName="name" appOnlyAlphabets required appLimitTo=40
                    appSpecialCharacters>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Address1" formControlName="address1" required>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Address2" formControlName="address2">
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="City" formControlName="city" appOnlyAlphabets required appLimitTo=13
                    appSpecialCharacters>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Phone 1" formControlName="phone1" minlength="10"  required appLimitTo=10 appOnlyNumeric>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Phone 2" formControlName="phone2" maxlength="10" appLimitTo=10 appOnlyNumeric>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Email" formControlName="email" required appLimitTo=30
                        appSpecialCharacters>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Decription" formControlName="description">
                </mat-form-field>
                
            </mat-card-content>
            <button mat-stroked-button color="primary" class="btn-block" (click)="editHospitalBranch()">Update</button>
         
        </form>
    </mat-card>
    </div>
    <section class="spinner-style">
    <mat-spinner id="matSpinner" [diameter]="50" *ngIf="isDataLoading"></mat-spinner>
    </section>
</div>