<div style="height: 150%; overflow: hidden;">
    <div class="row mt-4 mr-1" >
        <div class="col-12" style="text-align:right">
            <button class="btn-regular" title="View Operative Room" (click)="navigateToOperativeScreen()">
                View Operative Room
            </button>
        </div>
    </div>
    
    <div class="register-wrapper mb-4 mt-4" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Edit Operative Room</mat-card-title>
        </mat-card-header>
        <form class="register-form" [formGroup]="fgEditOperative">
            <mat-card-content>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="RoomTypeId" formControlName="roomTypeId" required appOnlyNumeric appLimitTo=13
                    appSpecialCharacters readonly>
                </mat-form-field>
                
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="RoomNo" formControlName="roomNo" required appOnlyNumeric>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="BedNo" formControlName="bedNo" required appOnlyNumeric>
                </mat-form-field>
                <mat-form-field appearance="outline" class="field-full-width">
                    <mat-label>Start Date</mat-label>
                    <input readonly formControlName="startDate" matInput [matDatepicker]="StartDatePicker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="StartDatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #StartDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" class="field-full-width">
                    <mat-label>End Date</mat-label>
                    <input readonly formControlName="endDate" matInput [matDatepicker]="EndDatePicker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="EndDatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #EndDatePicker></mat-datepicker>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="primary" class="btn-block" (click)="editOperative()">Update</button>
         
        </form>
    </mat-card>
    </div>
    <section class="spinner-style">
    <mat-spinner id="matSpinner" [diameter]="50" *ngIf="isDataLoading"></mat-spinner>
    </section>
    
</div>