<div mat-dialog-title class="flex-container">
    <button mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon class="cross-icon">close</mat-icon>
    </button>
</div>

<section class="row" id="services">

    <div class="row" style="margin-left: 15px;">
        <!-- <h2 class="banner">Services</h2> -->
        <p class="long-copy">Hello, this is Hospital Management System. We have best services for our
            patients
            and manage them.</p>
    </div>
    <div class="row js-wp-1">
        <div class="col span-1-of-4 box for-icons">
            <!-- <i class="icon ion-md-medkit"></i> -->
            <mat-icon>emergency</mat-icon>
            <h3 class="header">Emergency Care</h3>
            <p class="text">The Emergency Department at Doctors Hospital and Medical Center provides care to
                patients with
                urgent medical conditions ranging from complex problems. Care is provided 24 hours a day.
            </p>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <!-- <i class="icon ion-md-call"></i> -->
            <mat-icon>call</mat-icon>
            <h3 class="header">Call Center 24/7</h3>
            <p class="text">Our agents are on hand 24 hours a day, 7 days a week, and 365 days a year. There
                is always a
                courteous, live-voice representative ready to assist your patients and their families,
                whatever
                their needs may be.</p>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <!-- <i class="icon ion-md-car"></i> -->
            <mat-icon>local_hospital</mat-icon>
            <h3 class="header">Ambulance</h3>
            <p class="text">Transfers from different hospitals for seriously ill patients requiring
                ventilator and monitor
                support.
                Transport of patients from home to the hospital.
                Transport of patients from hospital to home.</p>
        </div>
        <div class="col span-1-of-4 box for-icons">
            <!-- <i class="icon ion-md-checkmark-circle-outline"></i> -->
            <mat-icon>access_time</mat-icon>
            <h3 class="header">Appointment</h3>

            <p class="text">We are happy to announce that our online appointment booking system is developed
                and launched.
                Please check back soon for more updates.</p>
        </div>
    </div>
</section>